<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<title>Lista de Atores</title>
		{{> bootstrapcss}}
		<link rel="stylesheet" href="/css/atorLista.css">
	</head>
	<body>
		{{> menu}}
		<div class="container-fluid">
			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th>Nome</th>
						<th>Informação</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{{#atores}}
					<tr>
						<td>{{nome}}</td>
						<td>{{informacao}}</td>
						<td class="remove">
							<a href="/atorEditar?idAtor={{idAtor}}">
								<span class="glyphicon glyphicon-edit" title="Editar"></span>
							</a>
							<a href="/atorExcluir?idAtor={{idAtor}}">
								<span class="glyphicon glyphicon-remove" title="Excluir"></span>
							</a>
						</td>
					</tr>
					{{/atores}}
					{{^atores}}
					<tr>
						<td>Nenhum ator encontrado!</td>
					</tr>
					{{/atores}}
				</tbody>
			</table>
		</div>
		
		{{> javascript}}
	</body>
</html>