<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<title>Cadastro de ator</title>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="/css/atorCadastro.css">
	</head>
	<body>
		{{> menu}}
		<section class="container-fluid">
			<section class="row">
				<div class="col-md-8 col-md-offset-2">
					<form class="form-horizontal" action="/atorCadastro" method="post">
						<h2 class="form-signin-heading">Cadastro de ator</h2>
						<input type="hidden" name="idAtor" value="{{#ator}}{{idAtor}}{{/ator}}">
						<div class="form-group">
							<label for="nome" class="col-sm-2 control-label">Nome:</label>
							<div class="col-sm-10">
								<input type="text" name="nome" id="nome" class="form-control" value="{{#ator}}{{nome}}{{/ator}}">
							</div>
						</div>
						<div class="form-group">
							<label for="informacao" class="col-sm-2 control-label">Informação:</label>
							<div class="col-sm-10">
								<textarea name="informacao" id="informacao" class="form-control" rows="5">{{#ator}}{{informacao}}{{/ator}}</textarea>
							</div>
						</div>
						<div class="form-group">
							<label for="imagem" class="col-sm-2 control-label">Imagem:</label>
							<div class="col-sm-10">
								<input type="text" name="imagem" id="imagem" class="form-control" value="{{#ator}}{{imagem}}{{/ator}}">
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<button type="submit" class="btn btn-default">Cadastrar</button>
							</div>
						</div>
					</form>
				</div>
			</section>
		</section>
		<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	</body>
</html>

