<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<title>Lista de banners</title>
		{{> bootstrapcss}}
		<link rel="stylesheet" href="/css/bannerLista.css">
	</head>
	<body>
		{{> menu}}
		<div class="container-fluid">
			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th>Imagem</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{{#banners}}
					<tr>
						<td>{{nome}}</td>
						<td class="remove">
							<a href="/bannerEditar?idBanner={{idBanner}}">
								<span class="glyphicon glyphicon-edit" title="Editar"></span>
							</a>
							<a href="/bannerExcluir?idBanner={{idBanner}}">
								<span class="glyphicon glyphicon-remove" title="Excluir"></span>
							</a>
						</td>
					</tr>
					{{/banners}}
					{{^banners}}
					<tr>
						<td>Nenhum banner encontrado!</td>
					</tr>
					{{/banners}}
				</tbody>
			</table>
		</div>
		
		{{> javascript}}
	</body>
</html>