<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <title>Filmes</title>
    {{> bootstrapcss}}
    <link href="/css/carousel.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/filmes.css">
  </head>
  <body>
    {{> menu}}
    <section class="container-fluid">
      <section class="row search">
        <div class="col-md-8 col-md-offset-2">
          <form class="form-inline" action="/pesquisarFilme" method="get">
            <div class="form-group">
              <input type="text" name="nome" class="form-control" id="nome" placeholder="Nome do filme">
            </div>
            <button type="submit" class="btn btn-default">Pesquisar</button>
          </form>
        </div>
      </section>
      <section class="row list">
        {{#filmes}}
        <div class="col-md-4 film">
          <img class="img-thumbnail" src="{{Imagem}}" alt="Generic placeholder image" width="300" height="300">
          <h2>{{nome}}</h2>
          <p>Ano lançamento: {{anoLancamento}}</p>
          <p>Gênero: {{genero.nome}}</p>
          <p>Sinopse: {{sinopse}}</p>
          <img src="/img/{{nota}}stars.png" alt="avaliation" width="100" height="20" title="{{nota}}">
        </div>
        {{/filmes}}
        {{^filmes}}
        <p>Não foram encontrados filmes.</p>
        {{/filmes}}
      </section>
    </section>
    {{> javascript}}
  </body>
</html>