<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<title>Consulta de Filmes</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
	<style type="text/css">
		h2, img, .information {
			display: inline-block;
		}
		.exibition {
			text-align: center;
			margin: 25px auto;
			width: 70%;
		}
		span {
			position: relative;

		}
		.information {
			margin: 5px;
		}
	</style>
</head>
<body>
	<section class="exibition">
		{{#filmes}}
			<div class="information">
				<h2>{{nome}}</h2>
				<p>Gênero: {{genero}}</p>
				<p>Ano de lançamento: {{anoLancamento}}</p>
			</div>
			<img src="{{imagem}}">
		{{/filmes}}
	</section>
	<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>