<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<title>Lista de filmes</title>
		{{> bootstrapcss}}
		<link rel="stylesheet" href="/css/filmeLista.css">
	</head>
	<body>
		{{> menu}}
		<div class="container-fluid">
			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th>Nome</th>
						<th>Genero</th>
						<th>Ano de Lançamento</th>
						<th>Avaliação</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{{#filmes}}
					<tr>
						<td>{{nome}}</td>
						<td>{{genero.nome}}</td>
						<td>{{anoLancamento}}</td>
						<td value="{{idFilme}}" nota="{{nota}}">
							<img src="/img/star0.png" alt="avaliation" width="20" height="20" class="star" value="1">
							<img src="/img/star0.png" alt="avaliation" width="20" height="20" class="star" value="2">
							<img src="/img/star0.png" alt="avaliation" width="20" height="20" class="star" value="3">
							<img src="/img/star0.png" alt="avaliation" width="20" height="20" class="star" value="4">
							<img src="/img/star0.png" alt="avaliation" width="20" height="20" class="star" value="5">
						</td>
						<td class="remove">
							<a href="/filmeEditar?idFilme={{idFilme}}">
								<span class="glyphicon glyphicon-edit" title="Editar"></span>
							</a>
							<a href="/filmeExcluir?idFilme={{idFilme}}">
								<span class="glyphicon glyphicon-remove" title="Excluir"></span>
							</a>
						</td>
					</tr>
					{{/filmes}}
					{{^filmes}}
					<tr>
						<td>Nenhum filme encontrado!</td>
					</tr>
					{{/filmes}}
				</tbody>
			</table>
		</div>
		{{> javascript}}
		<script type="text/javascript" src="/js/filmeLista.js"></script>
		
	</body>
</html>