<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <title>Filmes</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <link href="/css/carousel.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/filmes.css">
  </head>
  <body>
    {{> menu}}

    <section class="container-fluid">
      <section class="row list">
        {{#filmes}}
        <div class="col-md-4">
          <img class="img-thumbnail" src="{{Imagem}}" alt="Generic placeholder image" width="300" height="300">
          <h2>{{nome}}</h2>
          <p>Ano lançamento: {{anoLancamento}}</p>
          <p>Gênero: {{genero}}</p>
          <p>Sinopse: {{sinopse}}</p>
        </div>
        {{/filmes}}
      </section>
    </section>

    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  </body>
</html>