body {    
    margin: 0;
    padding: 0;
}

.relative {
	position: relative;
	top: 10px;
	margin-bottom: 50px;
	margin-left: 2px;
}

.fixed {
	position: fixed;
	top: 50px;
	left: 700px;
}

.absolute {
	position: absolute;
	top: 29px;
  	right: -65px;
}

.div {
	position: relative;
	margin-left: 2px;
	width: 322px;
  	background-color: #00B2CA;
  	height: 120px;
}